<section id="form">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="form-style" style="margin-top:-1%;">
      <form method="post" action="/students/create">
        <input type="text" name="name" placeholder="Full Name" />
        <input type="text" name="age" placeholder="age" />
        <input type="text" name="phone" placeholder="phone" />
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="New Student" />
      </form>
    </div>
  </div>
</section>